{{#if mensajes.length}}
  <h2>Mensajes</h2>

  {{! Recorrer productos para mostrar en la tabla }}
  {{#each mensajes}}
    <p>
      <span class="email">{{this.author.id}} </span>
      <span class="dateTime">[{{this.dateTime}}]: </span>
      <span class="text">{{this.text}}</span>
    </p>
  {{/each}}

{{/if}}